# For information about entries in this file, type "man shorewall-interfaces"
###############################################################################
#ZONE   INTERFACE   BROADCAST   OPTIONS
{% for i in interfaces %}
{{ i.zone }}	{{ i.int }}
{% endfor %}
